body{
    background-image: url('sankey.jpg');

}
.main{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.forms{
    display: flex;
    flex-direction: row;
    
}
h1{
    color: blue;
}
.idclass{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.lable{
    font-size: large;
   font-style:bold;
}
.input{
    height: 25px;
      width: 270px;
}
.select{
    height: 29px;
    width:280px;
}
.select:after {
    position: absolute;
    right: 15px;
  }
.addbutton{
    background-color: blue;
    color: white;
    border:none;
    width: 130px;
    height: 30px;
    font-size: medium;
    border-radius: 5px;
    align-items: center;
}
.viewTablebutton{
    background-color: purple;
    color: white;
    border:none;
    width: 130px;
    height: 30px;
    margin-left: 30px;
    font-size: medium;
    border-radius: 5px;
    align-items: center;
}
.error{
    color: red;
}
@media all and (max-width:700px)
{
    .main{
        flex-direction: column;
    }
    .forms{
        flex-direction: column;
    }
    .idclass{
        margin: 0px;
    }
}